<!-- Hero-->
<section class="hero is-fullheight has-text-centered">
    <!-- Hero-body -->
    <div class="hero-body">
        <!-- Container -->
        <div class="container">

            <h1 class="title is-1">
                <span>Marley.js!</span>
            </h1>
            <h2 class="title is-2">Modern Angular 6+ Stack.</h2>
            <a id="button" href="https://github.com/PetrNikolas/marley" target="_blank" class="button is-primary is-medium">Download!</a>

        </div>
        <!-- End Container -->
    </div>
    <!-- End Hero-body -->
</section>
<!-- End Section -->