<!-- Hero-->
<section class="hero is-fullheight has-text-centered">
    <!-- Hero-body -->
    <div class="hero-body">
        <!-- Container -->
        <div class="container">
            <h1 class="title is-1">
                <span>Contact</span>
            </h1>

            <div *ngIf="persons" class="row">
                <div class="columns is-multiline is-tablet">
                    <div *ngFor="let person of persons" class="column is-6-tablet">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-2by1">
                                <img src="{{person.big_image}}" alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                    <img src="{{person.small_image}}" alt="Placeholder image" />
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">{{person.name}}</p>
                                    <p class="subtitle is-6">{{person.nickname}}</p>
                                </div>
                                </div>

                                <div class="content">
                                    {{person.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Container -->
    </div>
    <!-- End Hero-body -->
</section>
<!-- End Section -->