/* Imports */

@import "variables";

/* Loader */

#loader{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid $main-color;
  border-top: 16px solid $brand-color;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
