/* Imports */

@import "assets/stylesheets/shared/variables";
@import "assets/stylesheets/shared/loader";

/* General Styles */

body,html{
  height: 100%;
  margin: 0;
  color: $main-color;
  background-color: $second-color;
}

hr{
  width: 100%;
  border: 0;
}

.button{
  border-radius: 100px;
}

strong{
  font-weight: bold;
}

span{
  border-bottom: 1px solid;
}

a{
  text-decoration: none;
  border-bottom: 1px dotted;
  color: $main-color;
  -webkit-transition: color .4s ease-out;
  -moz-transition: color .4s ease-out;
  -o-transition: color .4s ease-out;
  transition: color .4s ease-out;
}

a:hover{
  color: $brand-color;
  border-bottom: 1px solid;
  text-decoration: none;
}

@media (max-width: 768px){
  .none-display-mobile{
    display: none;
  }
}

.section-description{
  color: $description-color;
}

@media (min-width: 750px){
  .section-description{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Hero */

.hero{
  h1{
    font-weight: 900;
  }

  a:hover,.hero a:focus,.hero a:active{
    color: $brand-color;
  }
}

