<section class="hero is-large has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= gettext "Welcome to %{name}", name: "Mini Starter Kit for complex web apps!" %>
      </h1>
      <p>Full-stack solution for modern web development.</p>
    </div>
  </div>
</section>